---
import Career from "./Career.astro";
---

<div class="space-y-6">
    <Career
        startDate="2024年4月"
        endDate="現在"
        company="中小SES企業"
        position="バックエンド・インフラエンジニア"
        descriptions={[
            "Java/Springを使用したマイクロサービス開発",
            "K8s/OpenStack/秘密計算技術を使用したクラウドシステムの検討/研究/構築",
            "Python/Transformersを使用した行動認識技術AIの開発、及び同AIの利用プラットフォーム開発",
        ]}
    />
</div>
