---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="AWS" />
    <TechBadge techName="GCP" />
    <TechBadge techName="OCI" />
</div>
