---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="MySQL / MariaDB" />
    <TechBadge techName="PostgreSQL" />
    <TechBadge techName="Oracle" />
    <TechBadge techName="SQLite" />
</div>
