---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="PyTorch" />
    <TechBadge techName="Transformers" />
    <TechBadge techName="Flask" />
    <TechBadge techName="FastAPI" />
    <TechBadge techName="React" />
    <TechBadge techName="Next.js" />
    <TechBadge techName="Astro" />
    <TechBadge techName="Node.js" />
    <TechBadge techName="Spring" />
</div>
