---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="HTML" />
    <TechBadge techName="CSS" />
    <TechBadge techName="JavaScript" />
    <TechBadge techName="TypeScript" />
    <TechBadge techName="React" />
    <TechBadge techName="Next.js" />
    <TechBadge techName="Tailwind CSS" />
</div>

