---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="HTML5" />
    <TechBadge techName="CSS3" />
    <TechBadge techName="TypeScript(JavaScript)" />
    <TechBadge techName="Python" />
    <TechBadge techName="Java" />
</div>

