---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="Docker(Docker Compose)" />
    <TechBadge techName="Kubernetes" />
    <TechBadge techName="OpenStack" />
    <TechBadge techName="Nginx" />
    <TechBadge techName="Apache" />
    <TechBadge techName="KVM" />
    <TechBadge techName="QEMU" />
    <TechBadge techName="NVIDIA Triton" />
</div>
