---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="Redmine" />
    <TechBadge techName="Git" />
    <TechBadge techName="Github Actions" />
    <TechBadge techName="SVN" />
    <TechBadge techName="gRPC" />
    <TechBadge techName="RESTful API" />
    <TechBadge techName="Markdown" />
    <TechBadge techName="Bash" />
</div>
